{{define "footer"}}
<!-- jQuery + Bootstrap -->
<script src="/ui/bootstrap/assets/js/jquery-1.11.3.min.js"></script>
<script src="/ui/bootstrap/assets/js/jquery-ui-1.11.4.min.js"></script>
<script src="/ui/bootstrap/assets/js/bootstrap-3.3.5.min.js"></script>
<!-- Our scripts -->
<script src="/ui/bootstrap/script.js"></script>
</body>
</html>
{{end}}
