<!DOCTYPE html>
{{template "header" .}}
<div class="container">
	<div class="page-header">
		<ul class="nav nav-pills pull-right">
			<li id="tabBtn1" role="presentation" class="active">
				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
					Home
				</a>
			</li>
			<li id="tabBtn2" role="presentation">
				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
					Activities
				</a>
			</li>
			<li id="tabBtn3" role="presentation">
				<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
					Organize
				</a>
			</li>
			<li id="tabBtn4" role="presentation">
				<a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
					Messages <span id="messagesCountBadge" class="badge">0</span>
				</a>
			</li>
		</ul>
		<h1>{{.Name}}</h1>
		<div class="clearfix"></div>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="tab1">
			<div id="runningActivityCont"></div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="tab2">
			<div class="panel">
				<table class="table table-data table-activities">
					<thead>
						<tr>
							<th class="col-id">#</th>
							<th class="col-star" style="width: 32px;">&nbsp;</th>
							<th class="col-main">Name and description</th>
							<th class="col-project">Project</th>
							<th class="col-datetime">Started</th>
							<th class="col-datetime">Stopped</th>
						</tr>
					</thead>
					<tbody id="activitiesTable">
						<tr>
							<td colspan="5">
								<p><i>Chvíli strpení, data se načítají...</i></p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="tab3">
			<div class="panel">
				<table class="table table-data table-projects">
					<thead>
						<tr>
							<th class="col-id">#</th>
							<th class="col-star" style="width: 32px;">&nbsp;</th>
							<th class="col-main">Name and description</th>
							<th class="col-datetime">Created</th>
						</tr>
					</thead>
					<tbody id="projectsTable">
						<tr>
							<td colspan="4">
								<p><i>Chvíli strpení, data se načítají...</i></p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="tab4">
			<div id="messagesCont"></div>
		</div>
	</div>
</div>
{{template "footer" .}}
