{{define "footer"}}
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
<script>
require([
	"dojo/parser",
	"dijit/layout/BorderContainer",
	"dijit/layout/ContentPane",
	"dojo/store/Memory",
	"dojox/grid/DataGrid",
	"dojo/data/ObjectStore",
	"dojo/request",
	"dojo/domReady!"
], function(parser, BorderContainer, ContentPane, Memory, DataGrid, ObjectStore, request){
	var grid, dstore, mstore;
	request.get("/Activities.json", {
		handleAs: "json"
	}).then(function(data){
		mstore = new Memory({ data: data });
		dstore = new ObjectStore({ objectStore: mstore });

		grid = new DataGrid({
			store: dstore,
			query: { ActivityId: "*" },
			structure: [
				{ name: "#", field: "ActivityId", width: "84px" },
				{ name: "Name", field: "Name", width: "250px" },
				{ name: "Description", field: "Description", width: "120px" },
				{ name: "Tags", field: "Tags", width: "120px" },
			],
			loadingMessage: "Načítám data...",
			region: "center"
		}, "grid");
		grid.startup();
	});
	parser.parse();
});
</script>
</body>
</html>
{{end}}
